/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/doc-easy.AssemblyInfoInputs.cache
/obj/Debug/net8.0/doc-easy.assets.cache
/obj/Debug/net8.0/doc-easy.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/doc-easy.csproj.CoreCompileInputs.cache
/obj/doc-easy.csproj.nuget.dgspec.json
/obj/doc-easy.csproj.nuget.g.props
/obj/doc-easy.csproj.nuget.g.targets
/bin/Debug/net8.0/doc-easy.deps.json
/bin/Debug/net8.0/doc-easy.dll
/obj/Debug/net8.0/ref/doc-easy.dll
/obj/Debug/net8.0/refint/doc-easy.dll
/obj/Debug/net8.0/doc-easy.dll
/bin/Debug/net8.0/doc-easy.exe
/obj/Debug/net8.0/doc-easy.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/doc-easy.genruntimeconfig.cache
/obj/Debug/net8.0/doc-easy.GlobalUsings.g.cs
/bin/Debug/net8.0/doc-easy.pdb
/obj/Debug/net8.0/doc-easy.pdb
/bin/Debug/net8.0/doc-easy.runtimeconfig.json
/.idea/.idea.doc-easy.dir/.idea/encodings.xml
/.idea/.idea.doc-easy.dir/.idea/misc.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/Debug/net8.0/doc-easy.AssemblyInfo.cs
/.idea/.idea.doc-easy.dir/.idea/workspace.xml
